# Projeto 1 - Data Science

In [110]:
import pandas as pd
dfMarvelDc = pd.read_csv('./csv/marvel_dc.csv')
dfCorinthians = pd.read_csv('./csv/corinthians.csv')
dfFilmes = pd.read_csv('./csv/filmes.csv')

## Marvel e DC

In [111]:
print('1Ô∏è‚É£ Liste todos os her√≥is da editora Marvel.')
dfMarvelDc[dfMarvelDc['Editora'] == 'Marvel']

1Ô∏è‚É£ Liste todos os her√≥is da editora Marvel.

              Nome Editora  Ano_Estreia  For√ßa  Intelig√™ncia  Velocidade
3   Homem de Ferro  Marvel         1963     90           100          88
4  Capit√£o Am√©rica  Marvel         1941     92            85          84
5             Hulk  Marvel         1962    100            80          75
7             Thor  Marvel         1962    100            90          90
9     Homem-Aranha  Marvel         1962     89            85          95

In [31]:
print('2Ô∏è‚É£ Qual √© o her√≥i mais antigo da lista?')
dfMarvelDc[dfMarvelDc['Ano_Estreia'] == dfMarvelDc['Ano_Estreia'].min()]

2Ô∏è‚É£ Qual √© o her√≥i mais antigo da lista?

       Nome Editora  Ano_Estreia  For√ßa  Intelig√™ncia  Velocidade
1  Superman      DC         1938    100            90         100

In [32]:
print('3Ô∏è‚É£ Qual √© a m√©dia de for√ßa dos her√≥is da DC?')
float(dfMarvelDc[dfMarvelDc['Editora'] == 'DC']['For√ßa'].mean().astype(float))

3Ô∏è‚É£ Qual √© a m√©dia de for√ßa dos her√≥is da DC?

90.8

In [33]:
print('4Ô∏è‚É£ Qual editora tem a maior m√©dia de intelig√™ncia entre os her√≥is?')
inteligenciaDC = float(dfMarvelDc[dfMarvelDc['Editora'] == 'DC']['Intelig√™ncia'].mean().astype(float))
inteligenciaMarvel = float(dfMarvelDc[dfMarvelDc['Editora'] == 'Marvel']['Intelig√™ncia'].mean().astype(float))

if(inteligenciaDC > inteligenciaMarvel):
    print(f'DC: {inteligenciaDC}')
else:
    print(f'Marvel: {inteligenciaMarvel}')

4Ô∏è‚É£ Qual editora tem a maior m√©dia de intelig√™ncia entre os her√≥is?
DC: 90.4

In [34]:
print('5Ô∏è‚É£ Qual √© o her√≥i mais veloz?')
dfMarvelDc[dfMarvelDc['Velocidade'] == dfMarvelDc['Velocidade'].max()]

5Ô∏è‚É£ Qual √© o her√≥i mais veloz?

       Nome Editora  Ano_Estreia  For√ßa  Intelig√™ncia  Velocidade
1  Superman      DC         1938    100            90         100
6     Flash      DC         1956     88            88         100

In [35]:
print('6Ô∏è‚É£ Quantos her√≥is estrearam antes de 1960?')
dfMarvelDc[dfMarvelDc['Ano_Estreia'] < 1960]

6Ô∏è‚É£ Quantos her√≥is estrearam antes de 1960?

               Nome Editora  Ano_Estreia  For√ßa  Intelig√™ncia  Velocidade
0            Batman      DC         1939     85           100          80
1          Superman      DC         1938    100            90         100
2  Mulher-Maravilha      DC         1941     95            92          85
4   Capit√£o Am√©rica  Marvel         1941     92            85          84
6             Flash      DC         1956     88            88         100
8           Aquaman      DC         1941     86            82          85

In [38]:
print('7Ô∏è‚É£ Qual √© a soma total da for√ßa dos her√≥is da Marvel?')
int(dfMarvelDc[dfMarvelDc['Editora'] == 'Marvel']['For√ßa'].sum())

7Ô∏è‚É£ Qual √© a soma total da for√ßa dos her√≥is da Marvel?

471

In [39]:
print('8Ô∏è‚É£ Liste os her√≥is em ordem decrescente de velocidade.')
dfMarvelDc.sort_values(by='Velocidade',ascending=False)

8Ô∏è‚É£ Liste os her√≥is em ordem decrescente de velocidade.

               Nome Editora  Ano_Estreia  For√ßa  Intelig√™ncia  Velocidade
1          Superman      DC         1938    100            90         100
6             Flash      DC         1956     88            88         100
9      Homem-Aranha  Marvel         1962     89            85          95
7              Thor  Marvel         1962    100            90          90
3    Homem de Ferro  Marvel         1963     90           100          88
2  Mulher-Maravilha      DC         1941     95            92          85
8           Aquaman      DC         1941     86            82          85
4   Capit√£o Am√©rica  Marvel         1941     92            85          84
0            Batman      DC         1939     85           100          80
5              Hulk  Marvel         1962    100            80          75

In [41]:
print('9Ô∏è‚É£ Qual √© a m√©dia de estreia dos her√≥is da DC?')
int(dfMarvelDc[dfMarvelDc['Editora'] == 'DC']['Ano_Estreia'].mean())

9Ô∏è‚É£ Qual √© a m√©dia de estreia dos her√≥is da DC?

1943

In [68]:
print('üîü Qual o nome do her√≥i mais forte entre todos?')
dfMarvelDc['Overall'] =(dfMarvelDc['For√ßa'] + dfMarvelDc['Intelig√™ncia'] + dfMarvelDc['Velocidade'])

dfMarvelDc.loc[dfMarvelDc['Overall'] == dfMarvelDc['Overall'].max(), ['Nome', 'Overall']]

üîü Qual o nome do her√≥i mais forte entre todos?

       Nome  Overall
1  Superman      290

## Filmes

In [83]:
print("1Ô∏è‚É£ Liste os filmes do g√™nero 'Fic√ß√£o Cient√≠fica'.")
dfFilmes[dfFilmes['G√™nero'] == 'Fic√ß√£o Cient√≠fica']

1Ô∏è‚É£ Liste os filmes do g√™nero 'Fic√ß√£o Cient√≠fica'.

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
2,Interestelar,2014,701,8.6,169,Fic√ß√£o Cient√≠fica
3,Matrix,1999,466,8.7,136,Fic√ß√£o Cient√≠fica
9,Duna,2021,402,8.0,155,Fic√ß√£o Cient√≠fica

In [84]:
print("2Ô∏è‚É£ Qual √© o filme mais antigo da lista?")
dfFilmes[dfFilmes['Ano'] == dfFilmes['Ano'].min()]

2Ô∏è‚É£ Qual √© o filme mais antigo da lista?

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
0,O Poderoso Chef√£o,1972,287,9.2,175,Crime

In [87]:
print("3Ô∏è‚É£ Qual √© a m√©dia de bilheteria dos filmes da lista?")
float(dfFilmes['Bilheteria_Mundial'].mean())

3Ô∏è‚É£ Qual √© a m√©dia de bilheteria dos filmes da lista?

1114.6

In [88]:
print("4Ô∏è‚É£ Qual foi o filme com a maior nota no IMDb?")
dfFilmes[dfFilmes['Nota_IMDb'] == dfFilmes['Nota_IMDb'].max()]

4Ô∏è‚É£ Qual foi o filme com a maior nota no IMDb?

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
0,O Poderoso Chef√£o,1972,287,9.2,175,Crime

In [89]:
print("5Ô∏è‚É£ Liste os filmes em ordem decrescente de dura√ß√£o.")
dfFilmes.sort_values(by='Dura√ß√£o_Minutos',ascending=False)

5Ô∏è‚É£ Liste os filmes em ordem decrescente de dura√ß√£o.

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
1,Titanic,1997,2187,7.8,195,Romance
4,Vingadores: Ultimato,2019,2798,8.4,181,A√ß√£o
7,O Senhor dos An√©is,2001,2917,8.8,178,Fantasia
0,O Poderoso Chef√£o,1972,287,9.2,175,Crime
2,Interestelar,2014,701,8.6,169,Fic√ß√£o Cient√≠fica
9,Duna,2021,402,8.0,155,Fic√ß√£o Cient√≠fica
6,Pulp Fiction,1994,213,8.9,154,Crime
5,Clube da Luta,1999,101,8.8,139,Drama
3,Matrix,1999,466,8.7,136,Fic√ß√£o Cient√≠fica
8,Coringa,2019,1074,8.4,122,Drama

In [91]:
print("6Ô∏è‚É£ Qual √© a soma total da bilheteria mundial de todos os filmes?")
int(dfFilmes['Bilheteria_Mundial'].sum())

6Ô∏è‚É£ Qual √© a soma total da bilheteria mundial de todos os filmes?

11146

In [92]:
print("7Ô∏è‚É£ Qual filme teve menos de 150 minutos de dura√ß√£o?")
dfFilmes[dfFilmes['Dura√ß√£o_Minutos'] < 150]

7Ô∏è‚É£ Qual filme teve menos de 150 minutos de dura√ß√£o?

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
3,Matrix,1999,466,8.7,136,Fic√ß√£o Cient√≠fica
5,Clube da Luta,1999,101,8.8,139,Drama
8,Coringa,2019,1074,8.4,122,Drama

In [93]:
print("8Ô∏è‚É£ Liste os filmes lan√ßados depois do ano 2000.")
dfFilmes[dfFilmes['Ano'] > 2000]

8Ô∏è‚É£ Liste os filmes lan√ßados depois do ano 2000.

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
2,Interestelar,2014,701,8.6,169,Fic√ß√£o Cient√≠fica
4,Vingadores: Ultimato,2019,2798,8.4,181,A√ß√£o
7,O Senhor dos An√©is,2001,2917,8.8,178,Fantasia
8,Coringa,2019,1074,8.4,122,Drama
9,Duna,2021,402,8.0,155,Fic√ß√£o Cient√≠fica

In [98]:
print("9Ô∏è‚É£ Qual a dura√ß√£o m√©dia dos filmes na lista?")
float(dfFilmes['Dura√ß√£o_Minutos'].mean())

9Ô∏è‚É£ Qual a dura√ß√£o m√©dia dos filmes na lista?

160.4

In [102]:
print("üîü Qual √© o filme de maior bilheteria mundial?")
dfFilmes[dfFilmes['Bilheteria_Mundial'].max() == dfFilmes['Bilheteria_Mundial'] ]

üîü Qual √© o filme de maior bilheteria mundial?

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
7,O Senhor dos An√©is,2001,2917,8.8,178,Fantasia

## Corithians

In [13]:
#11. Qual foi o ano com mais vit√≥rias do Corinthians?

max_vitorias = dfCorinthians['Vit√≥rias'].idxmax()
numero_vitorias = dfCorinthians['Vit√≥rias'].max()
ano_com_mais_vitorias = int(dfCorinthians.loc[max_vitorias, 'Ano'])
ano_com_mais_vitorias
print(f'O ano com mais vit√≥rias do Corinthians foi {ano_com_mais_vitorias}, com {numero_vitorias} vit√≥rias.')

O ano com mais vit√≥rias do Corinthians foi 2022, com 36 vit√≥rias.

In [14]:
#12. Qual foi o saldo de gols (gols marcados - gols sofridos) em cada ano??

dfCorinthians['saldo_gols'] = dfCorinthians['Gols_Marcados'] / dfCorinthians['Gols_Sofridos']
anos_lista = dfCorinthians['Ano']
dfCorinthians[['Ano','saldo_gols']]

    Ano  saldo_gols
0  2015    0.830508
1  2016    2.931034
2  2017    1.414634
3  2018    1.034483
4  2019    1.689655
5  2020    1.469388
6  2021    3.500000
7  2022    2.058824
8  2023    0.770833
9  2024    1.854167

In [15]:
#13. Qual a m√©dia de posi√ß√£o do Corinthians nos campeonatos?

df_soma_posicao = dfCorinthians['Posi√ß√£o_Campeonato'].sum() / dfCorinthians['Posi√ß√£o_Campeonato'].count()
df_posicao_media = df_soma_posicao.mean()
print(f'A m√©dia de posi√ß√£o do Corinthians nos campeonatos √© de {df_posicao_media}.')

A m√©dia de posi√ß√£o do Corinthians nos campeonatos √© de 12.3.

In [16]:
#14. Qual ano teve o menor n√∫mero de derrotas?

max_derrotas = dfCorinthians['Derrotas'].idxmax()
numero_derrotas = dfCorinthians['Derrotas'].max()
ano_com_mais_derrotas = int(dfCorinthians.loc[max_derrotas, 'Ano'])
ano_com_mais_derrotas
print(f'O ano com mais derrotas do Corinthians foi {ano_com_mais_derrotas}, com {numero_derrotas} derrotas.')

O ano com mais derrotas do Corinthians foi 2018, com 14 derrotas.

In [17]:
#15. Em quais anos o Corinthians marcou mais de 60 gols?

df_lista_conringao_vitorias_60 = dfCorinthians[dfCorinthians['Gols_Marcados'] >= 60]
df_lista_conringao_vitorias_60[['Ano','Gols_Marcados']]

    Ano  Gols_Marcados
1  2016             85
5  2020             72
6  2021             70
7  2022             70
9  2024             89

In [18]:
#16. Qual foi a taxa de vit√≥rias (%) por ano?

dfCorinthians['taxa_vitorias'] = (dfCorinthians['Vit√≥rias'] / dfCorinthians['Jogos']) * 100
dfCorinthians[['Ano','taxa_vitorias']]

    Ano  taxa_vitorias
0  2015      49.180328
1  2016      64.285714
2  2017      50.724638
3  2018      57.446809
4  2019      58.928571
5  2020      71.111111
6  2021      71.428571
7  2022      90.000000
8  2023      56.603774
9  2024      34.375000

In [19]:
#17. Liste os anos em ordem decrescente de pontos (Vit√≥rias = 3 pontos, Empates = 1 ponto).

dfCorinthians['pontos'] = (dfCorinthians['Vit√≥rias'] * 3) + dfCorinthians['Empates'] + (dfCorinthians['Derrotas'] * -1)
dfCorinthians_pontos_decrescente = dfCorinthians[['Ano','pontos']].sort_values(by='pontos', ascending=False)
dfCorinthians_pontos_decrescente

    Ano  pontos
6  2021     109
2  2017     105
7  2022     105
4  2019      99
5  2020      98
0  2015      92
8  2023      89
1  2016      80
3  2018      78
9  2024      67

In [20]:
#18. Qual foi a pior posi√ß√£o do Corinthians nesse per√≠odo?

df_index_posicao_menor = dfCorinthians['Posi√ß√£o_Campeonato'].idxmin()
posicao_menor = dfCorinthians['Posi√ß√£o_Campeonato'].min()
ano_posicao_menor = int(dfCorinthians.loc[df_index_posicao_menor, 'Ano'])
print(f'o ano com a menor posi√ß√£o foi o ano de: {ano_posicao_menor}')

o ano com a menor posi√ß√£o foi o ano de: 2020

In [21]:
#19. Qual foi o ano com mais jogos disputados?

df_index_ano_mais_jogos = dfCorinthians['Jogos'].idxmax()
ano_com_mais_jogos = dfCorinthians['Jogos'].max()
ano_com_mais_jogos_loc = int(dfCorinthians.loc[df_index_ano_mais_jogos, 'Ano'])
print(f'o ano com mais jogos foi o ano de: {ano_com_mais_jogos_loc}')

o ano com mais jogos foi o ano de: 2017

In [22]:
#20. Qual a m√©dia de gols sofridos por jogo em cada ano?

df_index_ano_mais_gols_sofridos = dfCorinthians['Gols_Sofridos'].idxmax()
ano_com_mais_gols_sofridos = dfCorinthians['Gols_Sofridos'].max()
ano_com_mais_gols_sofridos_loc = int(dfCorinthians.loc[df_index_ano_mais_gols_sofridos, 'Ano'])
print(f'o ano com mais gols sofridos foi o ano de: {ano_com_mais_gols_sofridos_loc}')

o ano com mais gols sofridos foi o ano de: 2015