# Projeto 1 - Data Science

In [110]:
import pandas as pd
dfMarvelDc = pd.read_csv('./csv/marvel_dc.csv')
dfCorinthians = pd.read_csv('./csv/corinthians.csv')
dfFilmes = pd.read_csv('./csv/filmes.csv')

## Marvel e DC

In [111]:
print('1️⃣ Liste todos os heróis da editora Marvel.')
dfMarvelDc[dfMarvelDc['Editora'] == 'Marvel']

1️⃣ Liste todos os heróis da editora Marvel.

              Nome Editora  Ano_Estreia  Força  Inteligência  Velocidade
3   Homem de Ferro  Marvel         1963     90           100          88
4  Capitão América  Marvel         1941     92            85          84
5             Hulk  Marvel         1962    100            80          75
7             Thor  Marvel         1962    100            90          90
9     Homem-Aranha  Marvel         1962     89            85          95

In [31]:
print('2️⃣ Qual é o herói mais antigo da lista?')
dfMarvelDc[dfMarvelDc['Ano_Estreia'] == dfMarvelDc['Ano_Estreia'].min()]

2️⃣ Qual é o herói mais antigo da lista?

       Nome Editora  Ano_Estreia  Força  Inteligência  Velocidade
1  Superman      DC         1938    100            90         100

In [32]:
print('3️⃣ Qual é a média de força dos heróis da DC?')
float(dfMarvelDc[dfMarvelDc['Editora'] == 'DC']['Força'].mean().astype(float))

3️⃣ Qual é a média de força dos heróis da DC?

90.8

In [33]:
print('4️⃣ Qual editora tem a maior média de inteligência entre os heróis?')
inteligenciaDC = float(dfMarvelDc[dfMarvelDc['Editora'] == 'DC']['Inteligência'].mean().astype(float))
inteligenciaMarvel = float(dfMarvelDc[dfMarvelDc['Editora'] == 'Marvel']['Inteligência'].mean().astype(float))

if(inteligenciaDC > inteligenciaMarvel):
    print(f'DC: {inteligenciaDC}')
else:
    print(f'Marvel: {inteligenciaMarvel}')

4️⃣ Qual editora tem a maior média de inteligência entre os heróis?
DC: 90.4

In [34]:
print('5️⃣ Qual é o herói mais veloz?')
dfMarvelDc[dfMarvelDc['Velocidade'] == dfMarvelDc['Velocidade'].max()]

5️⃣ Qual é o herói mais veloz?

       Nome Editora  Ano_Estreia  Força  Inteligência  Velocidade
1  Superman      DC         1938    100            90         100
6     Flash      DC         1956     88            88         100

In [35]:
print('6️⃣ Quantos heróis estrearam antes de 1960?')
dfMarvelDc[dfMarvelDc['Ano_Estreia'] < 1960]

6️⃣ Quantos heróis estrearam antes de 1960?

               Nome Editora  Ano_Estreia  Força  Inteligência  Velocidade
0            Batman      DC         1939     85           100          80
1          Superman      DC         1938    100            90         100
2  Mulher-Maravilha      DC         1941     95            92          85
4   Capitão América  Marvel         1941     92            85          84
6             Flash      DC         1956     88            88         100
8           Aquaman      DC         1941     86            82          85

In [38]:
print('7️⃣ Qual é a soma total da força dos heróis da Marvel?')
int(dfMarvelDc[dfMarvelDc['Editora'] == 'Marvel']['Força'].sum())

7️⃣ Qual é a soma total da força dos heróis da Marvel?

471

In [39]:
print('8️⃣ Liste os heróis em ordem decrescente de velocidade.')
dfMarvelDc.sort_values(by='Velocidade',ascending=False)

8️⃣ Liste os heróis em ordem decrescente de velocidade.

               Nome Editora  Ano_Estreia  Força  Inteligência  Velocidade
1          Superman      DC         1938    100            90         100
6             Flash      DC         1956     88            88         100
9      Homem-Aranha  Marvel         1962     89            85          95
7              Thor  Marvel         1962    100            90          90
3    Homem de Ferro  Marvel         1963     90           100          88
2  Mulher-Maravilha      DC         1941     95            92          85
8           Aquaman      DC         1941     86            82          85
4   Capitão América  Marvel         1941     92            85          84
0            Batman      DC         1939     85           100          80
5              Hulk  Marvel         1962    100            80          75

In [41]:
print('9️⃣ Qual é a média de estreia dos heróis da DC?')
int(dfMarvelDc[dfMarvelDc['Editora'] == 'DC']['Ano_Estreia'].mean())

9️⃣ Qual é a média de estreia dos heróis da DC?

1943

In [68]:
print('🔟 Qual o nome do herói mais forte entre todos?')
dfMarvelDc['Overall'] =(dfMarvelDc['Força'] + dfMarvelDc['Inteligência'] + dfMarvelDc['Velocidade'])

dfMarvelDc.loc[dfMarvelDc['Overall'] == dfMarvelDc['Overall'].max(), ['Nome', 'Overall']]

🔟 Qual o nome do herói mais forte entre todos?

       Nome  Overall
1  Superman      290

## Filmes

In [83]:
print("1️⃣ Liste os filmes do gênero 'Ficção Científica'.")
dfFilmes[dfFilmes['Gênero'] == 'Ficção Científica']

1️⃣ Liste os filmes do gênero 'Ficção Científica'.

,Título,Ano,Bilheteria_Mundial,Nota_IMDb,Duração_Minutos,Gênero
2,Interestelar,2014,701,8.6,169,Ficção Científica
3,Matrix,1999,466,8.7,136,Ficção Científica
9,Duna,2021,402,8.0,155,Ficção Científica

In [84]:
print("2️⃣ Qual é o filme mais antigo da lista?")
dfFilmes[dfFilmes['Ano'] == dfFilmes['Ano'].min()]

2️⃣ Qual é o filme mais antigo da lista?

,Título,Ano,Bilheteria_Mundial,Nota_IMDb,Duração_Minutos,Gênero
0,O Poderoso Chefão,1972,287,9.2,175,Crime

In [87]:
print("3️⃣ Qual é a média de bilheteria dos filmes da lista?")
float(dfFilmes['Bilheteria_Mundial'].mean())

3️⃣ Qual é a média de bilheteria dos filmes da lista?

1114.6

In [88]:
print("4️⃣ Qual foi o filme com a maior nota no IMDb?")
dfFilmes[dfFilmes['Nota_IMDb'] == dfFilmes['Nota_IMDb'].max()]

4️⃣ Qual foi o filme com a maior nota no IMDb?

,Título,Ano,Bilheteria_Mundial,Nota_IMDb,Duração_Minutos,Gênero
0,O Poderoso Chefão,1972,287,9.2,175,Crime

In [89]:
print("5️⃣ Liste os filmes em ordem decrescente de duração.")
dfFilmes.sort_values(by='Duração_Minutos',ascending=False)

5️⃣ Liste os filmes em ordem decrescente de duração.

,Título,Ano,Bilheteria_Mundial,Nota_IMDb,Duração_Minutos,Gênero
1,Titanic,1997,2187,7.8,195,Romance
4,Vingadores: Ultimato,2019,2798,8.4,181,Ação
7,O Senhor dos Anéis,2001,2917,8.8,178,Fantasia
0,O Poderoso Chefão,1972,287,9.2,175,Crime
2,Interestelar,2014,701,8.6,169,Ficção Científica
9,Duna,2021,402,8.0,155,Ficção Científica
6,Pulp Fiction,1994,213,8.9,154,Crime
5,Clube da Luta,1999,101,8.8,139,Drama
3,Matrix,1999,466,8.7,136,Ficção Científica
8,Coringa,2019,1074,8.4,122,Drama

In [91]:
print("6️⃣ Qual é a soma total da bilheteria mundial de todos os filmes?")
int(dfFilmes['Bilheteria_Mundial'].sum())

6️⃣ Qual é a soma total da bilheteria mundial de todos os filmes?

11146

In [92]:
print("7️⃣ Qual filme teve menos de 150 minutos de duração?")
dfFilmes[dfFilmes['Duração_Minutos'] < 150]

7️⃣ Qual filme teve menos de 150 minutos de duração?

,Título,Ano,Bilheteria_Mundial,Nota_IMDb,Duração_Minutos,Gênero
3,Matrix,1999,466,8.7,136,Ficção Científica
5,Clube da Luta,1999,101,8.8,139,Drama
8,Coringa,2019,1074,8.4,122,Drama

In [93]:
print("8️⃣ Liste os filmes lançados depois do ano 2000.")
dfFilmes[dfFilmes['Ano'] > 2000]

8️⃣ Liste os filmes lançados depois do ano 2000.

,Título,Ano,Bilheteria_Mundial,Nota_IMDb,Duração_Minutos,Gênero
2,Interestelar,2014,701,8.6,169,Ficção Científica
4,Vingadores: Ultimato,2019,2798,8.4,181,Ação
7,O Senhor dos Anéis,2001,2917,8.8,178,Fantasia
8,Coringa,2019,1074,8.4,122,Drama
9,Duna,2021,402,8.0,155,Ficção Científica

In [98]:
print("9️⃣ Qual a duração média dos filmes na lista?")
float(dfFilmes['Duração_Minutos'].mean())

9️⃣ Qual a duração média dos filmes na lista?

160.4

In [102]:
print("🔟 Qual é o filme de maior bilheteria mundial?")
dfFilmes[dfFilmes['Bilheteria_Mundial'].max() == dfFilmes['Bilheteria_Mundial'] ]

🔟 Qual é o filme de maior bilheteria mundial?

,Título,Ano,Bilheteria_Mundial,Nota_IMDb,Duração_Minutos,Gênero
7,O Senhor dos Anéis,2001,2917,8.8,178,Fantasia

## Corithians

In [13]:
#11. Qual foi o ano com mais vitórias do Corinthians?

max_vitorias = dfCorinthians['Vitórias'].idxmax()
numero_vitorias = dfCorinthians['Vitórias'].max()
ano_com_mais_vitorias = int(dfCorinthians.loc[max_vitorias, 'Ano'])
ano_com_mais_vitorias
print(f'O ano com mais vitórias do Corinthians foi {ano_com_mais_vitorias}, com {numero_vitorias} vitórias.')

O ano com mais vitórias do Corinthians foi 2022, com 36 vitórias.

In [14]:
#12. Qual foi o saldo de gols (gols marcados - gols sofridos) em cada ano??

dfCorinthians['saldo_gols'] = dfCorinthians['Gols_Marcados'] / dfCorinthians['Gols_Sofridos']
anos_lista = dfCorinthians['Ano']
dfCorinthians[['Ano','saldo_gols']]

    Ano  saldo_gols
0  2015    0.830508
1  2016    2.931034
2  2017    1.414634
3  2018    1.034483
4  2019    1.689655
5  2020    1.469388
6  2021    3.500000
7  2022    2.058824
8  2023    0.770833
9  2024    1.854167

In [15]:
#13. Qual a média de posição do Corinthians nos campeonatos?

df_soma_posicao = dfCorinthians['Posição_Campeonato'].sum() / dfCorinthians['Posição_Campeonato'].count()
df_posicao_media = df_soma_posicao.mean()
print(f'A média de posição do Corinthians nos campeonatos é de {df_posicao_media}.')

A média de posição do Corinthians nos campeonatos é de 12.3.

In [16]:
#14. Qual ano teve o menor número de derrotas?

max_derrotas = dfCorinthians['Derrotas'].idxmax()
numero_derrotas = dfCorinthians['Derrotas'].max()
ano_com_mais_derrotas = int(dfCorinthians.loc[max_derrotas, 'Ano'])
ano_com_mais_derrotas
print(f'O ano com mais derrotas do Corinthians foi {ano_com_mais_derrotas}, com {numero_derrotas} derrotas.')

O ano com mais derrotas do Corinthians foi 2018, com 14 derrotas.

In [17]:
#15. Em quais anos o Corinthians marcou mais de 60 gols?

df_lista_conringao_vitorias_60 = dfCorinthians[dfCorinthians['Gols_Marcados'] >= 60]
df_lista_conringao_vitorias_60[['Ano','Gols_Marcados']]

    Ano  Gols_Marcados
1  2016             85
5  2020             72
6  2021             70
7  2022             70
9  2024             89

In [18]:
#16. Qual foi a taxa de vitórias (%) por ano?

dfCorinthians['taxa_vitorias'] = (dfCorinthians['Vitórias'] / dfCorinthians['Jogos']) * 100
dfCorinthians[['Ano','taxa_vitorias']]

    Ano  taxa_vitorias
0  2015      49.180328
1  2016      64.285714
2  2017      50.724638
3  2018      57.446809
4  2019      58.928571
5  2020      71.111111
6  2021      71.428571
7  2022      90.000000
8  2023      56.603774
9  2024      34.375000

In [19]:
#17. Liste os anos em ordem decrescente de pontos (Vitórias = 3 pontos, Empates = 1 ponto).

dfCorinthians['pontos'] = (dfCorinthians['Vitórias'] * 3) + dfCorinthians['Empates'] + (dfCorinthians['Derrotas'] * -1)
dfCorinthians_pontos_decrescente = dfCorinthians[['Ano','pontos']].sort_values(by='pontos', ascending=False)
dfCorinthians_pontos_decrescente

    Ano  pontos
6  2021     109
2  2017     105
7  2022     105
4  2019      99
5  2020      98
0  2015      92
8  2023      89
1  2016      80
3  2018      78
9  2024      67

In [20]:
#18. Qual foi a pior posição do Corinthians nesse período?

df_index_posicao_menor = dfCorinthians['Posição_Campeonato'].idxmin()
posicao_menor = dfCorinthians['Posição_Campeonato'].min()
ano_posicao_menor = int(dfCorinthians.loc[df_index_posicao_menor, 'Ano'])
print(f'o ano com a menor posição foi o ano de: {ano_posicao_menor}')

o ano com a menor posição foi o ano de: 2020

In [21]:
#19. Qual foi o ano com mais jogos disputados?

df_index_ano_mais_jogos = dfCorinthians['Jogos'].idxmax()
ano_com_mais_jogos = dfCorinthians['Jogos'].max()
ano_com_mais_jogos_loc = int(dfCorinthians.loc[df_index_ano_mais_jogos, 'Ano'])
print(f'o ano com mais jogos foi o ano de: {ano_com_mais_jogos_loc}')

o ano com mais jogos foi o ano de: 2017

In [22]:
#20. Qual a média de gols sofridos por jogo em cada ano?

df_index_ano_mais_gols_sofridos = dfCorinthians['Gols_Sofridos'].idxmax()
ano_com_mais_gols_sofridos = dfCorinthians['Gols_Sofridos'].max()
ano_com_mais_gols_sofridos_loc = int(dfCorinthians.loc[df_index_ano_mais_gols_sofridos, 'Ano'])
print(f'o ano com mais gols sofridos foi o ano de: {ano_com_mais_gols_sofridos_loc}')

o ano com mais gols sofridos foi o ano de: 2015